@using EntityLayer.Concrete
@model List<Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Kullanıcı Adı</th>
        <th>Yetki</th>
        <th>Durum</th>
        <th>Pasif Yap</th>
        <th>Yetkisini Değiştir</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AdminId</td>
            <td>@item.AdminUserName</td>
            <td>@item.AdminRole</td>
            <td></td>
            <td><a href="/AdminCategory/DeleteCategory/@item.AdminId" class="btn btn-danger">Pasif Yap</a></td>
            <td><a href="/Authorization/UpdateAdmin/@item.AdminId" class="btn btn-success">Yetkisini Değiştir</a></td>
        </tr>
    }

</table>
<br />
<a href="/Authorization/AddAdmin" class="btn btn-info">Yeni Admin Tanımla</a>
